# bloop and metals
.bloop
.bsp

# metals
project/metals.sbt
.metals

# vs code
.vscode

# sbt
*target/

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# Default ignored files
/shelf/
/workspace.xml
.idea/

# Editor-based HTTP Client requests
/httpRequests/

# Frontend
#frontend/.pnp
#frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
#frontend/.env.production.local
frontend/node_modules
*.log*
